flow.json
[{"id":"fc108fb5.8a31d","type":"tab","label":"Mqtt","disabled":false,"info":""},{"id":"49694f6e.36788","type":"tab","label":"Influxdb","disabled":false,"info":""},{"id":"5d696890.93fdf8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4634bca8.1e0454","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"SENSOR","name":"","usetls":false,"tls":""},{"id":"8bd6186f.909ad8","type":"inject","z":"fc108fb5.8a31d","name":"","topic":"Test","payload":"Hellow World ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["edfee9df.2df978","a86fcde.afd013"]]},{"id":"edfee9df.2df978","type":"debug","z":"fc108fb5.8a31d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":60,"wires":[]},{"id":"a86fcde.afd013","type":"mqtt out","z":"fc108fb5.8a31d","name":"","topic":"","qos":"","retain":"","broker":"5d696890.93fdf8","x":390,"y":120,"wires":[]},{"id":"b402ed27.ca848","type":"mqtt in","z":"fc108fb5.8a31d","name":"","topic":"#","qos":"2","datatype":"auto","broker":"5d696890.93fdf8","x":100,"y":220,"wires":[["80e820ec.b2f6"]]},{"id":"80e820ec.b2f6","type":"debug","z":"fc108fb5.8a31d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":240,"wires":[]},{"id":"403c04c6.90312c","type":"inject","z":"49694f6e.36788","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":60,"wires":[["8b83c15.d8de94"]]},{"id":"8b83c15.d8de94","type":"random","z":"49694f6e.36788","name":"sensor","low":"1","high":"10","inte":"true","property":"sensor","x":190,"y":200,"wires":[["bd41d999.df1c48"]]},{"id":"bd41d999.df1c48","type":"function","z":"49694f6e.36788","name":"CheckCondition","func":"var sensor=msg.sensor \nif(sensor>=5){\n    msg.payload=\n    {\n        sensorValue:sensor,\n        temperature:\"HIGH\",\n        valveValue:\"OPEN\"\n    }\n    \n}\nif(sensor<=5){\n    msg.payload=\n    {\n        sensorValue:sensor,\n        temperature:\"LOW\",\n        valveValue:\"CLOSE\"\n    }\n    \n}\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":240,"wires":[["65da6475.e3613c","abc5c48.c503c38"]]},{"id":"65da6475.e3613c","type":"influxdb out","z":"49694f6e.36788","influxdb":"4634bca8.1e0454","name":"SENSOR_INFLUX","measurement":"PRESSURE","precision":"","retentionPolicy":"","x":530,"y":40,"wires":[]},{"id":"abc5c48.c503c38","type":"debug","z":"49694f6e.36788","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":200,"wires":[]}]