flow.json
[{"id":"fc108fb5.8a31d","type":"tab","label":"Mqtt","disabled":false,"info":""},{"id":"5d696890.93fdf8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8bd6186f.909ad8","type":"inject","z":"fc108fb5.8a31d","name":"","topic":"Test","payload":"Hellow World ","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":80,"wires":[["edfee9df.2df978","a86fcde.afd013"]]},{"id":"edfee9df.2df978","type":"debug","z":"fc108fb5.8a31d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":340,"y":60,"wires":[]},{"id":"a86fcde.afd013","type":"mqtt out","z":"fc108fb5.8a31d","name":"","topic":"","qos":"","retain":"","broker":"5d696890.93fdf8","x":340,"y":140,"wires":[]},{"id":"b402ed27.ca848","type":"mqtt in","z":"fc108fb5.8a31d","name":"","topic":"#","qos":"2","datatype":"auto","broker":"5d696890.93fdf8","x":100,"y":220,"wires":[["80e820ec.b2f6"]]},{"id":"80e820ec.b2f6","type":"debug","z":"fc108fb5.8a31d","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":320,"y":240,"wires":[]}]